[2019-07-19 13:28] RaphaelMeudec opened #7 "Validation Data Handle"
Currently, there is no explanation on what `validation_data` is. This issue should tackle :

- unification of `validation_data` between callbacks - make sure it has the same signature
- callbacks currently process 1 image from validation data, it should process all of it

[2019-07-19 13:30] RaphaelMeudec opened #8 "Callbacks Performance"
Right now, predictions are generally done one by one instead of by batch. This issue should tackle this performance issue by predicting in batches.

[2019-07-19 14:08] RaphaelMeudec opened #9 "Centralize heatmap visualizations"
At the moment, each callback implements its own visualization part. The objective is to centralize all those visualizations in a utils (like the `grid_display`)

[2019-07-19 14:10] RaphaelMeudec opened #10 "Unlink callbacks from the inner logic"
At the moment, algorithm logic is implemented inside the callbacks, which makes it hard to use the algorithm logic outside of it. The idea is to create a `core` module with all the logic, and callbacks should call those modules instead of implementing it

[2019-07-19 14:33] RaphaelMeudec opened #11 "Smooth occlusion sensitivity map"
At the moment, occlusion sensitivity callback generate an image with an output shape equal to the input shape. Part of the image are built directly by block. The objective is to smooth the visualization by generating only a map of size `(H/patch_size, W/patch_size)` and then resize it

[2019-07-19 19:56] RaphaelMeudec opened #12 "Tensorboard Integration"

[2019-07-22 08:30] RaphaelMeudec opened #15 "SmoothGrad Implementation"
Add SmoothGrad as available method.

[2019-07-23 07:32] #9 closed

[2019-07-23 08:51] #10 closed

[2019-07-23 08:53] RaphaelMeudec commented on #7
Seems the `validation_data` is now coherent between methods, with `validation_data = (x, y)`

[2019-07-23 08:53] #7 closed

[2019-07-23 08:55] RaphaelMeudec opened #24 "Tests clean-up"
Clean up all tests on the repo. Split to unit testing (tests are too large atm). Add `pytest.mark` on integration tests.

[2019-07-23 08:56] RaphaelMeudec opened #25 "Add cache on CI"
Tox reinstall all dependencies at each run. This is taking most of the time of the CI and should be fixed by setting up some cache.

[2019-07-23 09:06] RaphaelMeudec opened #26 "Receive `validation_data` from `fit` argument"
When `validation_data` is given to the `model.fit` method, it is also accessible in each callback with `self.validation_data`. We should gain from this, and pass our own `validation_data` argument as optional

[2019-07-23 15:12] #11 closed

[2019-07-23 15:39] #24 closed

[2019-07-25 07:53] #8 closed

[2019-07-26 09:18] RaphaelMeudec opened #42 "Possible offset on Grad CAM visualization"
When running the example on fashion mnist with a Grad CAM callback, it seems there could be a small offset (1 or 2 pixels) on the left.

![image](https://user-images.githubusercontent.com/12402673/61941069-0a586b00-af97-11e9-9a52-ce7ca255088d.png)

To reproduce, just run the example with 5 epochs and observer Tensorboard

[2019-07-26 09:21] #12 closed

[2019-07-28 17:54] RaphaelMeudec opened #49 "Avoid multiple summary writer instantiations"
At the moment, summary writers for Tensorboard are instantiated in the `on_epoch_end` method. It should be built at `init` instead to avoid conflicts between multiple writers

[2019-07-29 08:19] RaphaelMeudec opened #50 "[Feature] Guided SmoothGrad"

[2019-07-29 09:41] #15 closed

[2019-07-29 11:36] RaphaelMeudec opened #53 "Normalize SmoothGrad by element instead of by grid"
At the moment, `SmoothGrad.transform_to_grayscale` computes the min and max of the whole grid and normalizes it. This isn't great because it introduces a competition between images. Normalization should be done image by image.

[2019-07-29 11:37] #49 closed

[2019-07-29 15:21] RaphaelMeudec opened #54 "GradCAM Gradients all zeros"
`GradientTape` in the GradCAM method often outputs only zeros (in `examples/callbacks/mnist.py`), resulting in None heatmaps. This has to be investigated.

![Capture d’écran de 2019-07-29 17-20-38](https://user-images.githubusercontent.com/12402673/62060397-591b3480-b225-11e9-9770-e32a93efd293.png)

[2019-07-30 08:05] RaphaelMeudec commented on #54
Solution to this is removing the softmax layer of the grad cam model with `grad_model.layers[-1].activation = None`. However, this has side effects on all the callbacks as models are not duplicated.

[2019-07-30 13:00] RaphaelMeudec opened #55 "[Feature] Subclassing API"
The current version of tf-explain does not support subclassing API because of the way subgraphs are created.

See: https://stackoverflow.com/questions/52826134/keras-model-subclassing-examples

[2019-07-30 15:54] #25 closed

[2019-08-01 03:50] sayakpaul opened #63 "More transparency in the documentation needed"
Hi. First of all, kudos for the amazing initiative. Having something like as a Callback option in `tf.keras` is just amazing. However, as there are not any demo notebooks available currently to enable an interested developer to try out `tf-explain`, I was preparing one with a fine-tuned model using the CIFAR10 dataset. However, due to the lack of clarity on what to exactly specify in the `layers_n

[2019-08-01 07:03] RaphaelMeudec commented on #63
Hey @sayakpaul, thanks for the kind words. The trick is that `ActivationsVisualizationCallback` should be used to visualize the outputs of a convolutional layer (and you are using it on a dense layer, so it cannot manage to create an image to visualize the layer). You can check the [examples/callbacks](https://github.com/sicara/tf-explain/blob/master/examples/callbacks/mnist.py).
Your usage of `la

[2019-08-01 07:11] sayakpaul commented on #63
HI @RaphaelMeudec if you check the code block I provided, I specified a Conv layer only and still, it failed.

[2019-08-01 07:35] RaphaelMeudec commented on #63
There was a small typo in the examples. It is now fixed. `layers_name` is not optional and should be a `List[str]`. The issue with your example might come from the fact that you're inserting a bes model inside a model. The library depends on tf.keras method `model.get_layer()` which is not recursive I think. I'll look into it, thanks for pointing it out!

[2019-08-01 08:18] sayakpaul commented on #63
Thanks for providing with additional feedback. Thank you.

[2019-08-01 20:57] amjass12 opened #65 "Are feature such as occlusion analysis included for tabular data?"
Hello,

I was just wondering if any of the feature from tf-explain are planned to (or already) apply to tabular data and non-image data?

sorry if this has been answered, i have not be able to find this answer anywhere.

thanks.

[2019-08-02 15:04] RaphaelMeudec commented on #65
Hi @amjass12, supporting tabular data isn't planned for the moment. [Shap](https://github.com/slundberg/shap) is doing pretty great with numerical values. However, we plan to extend to NLP models in the future (no clear timeline though)

[2019-08-02 15:37] amjass12 commented on #65
Hi @RaphaelMeudec,

Thank you very much for clarifying! Yes I have been using Shap values and just looking around for other methods just to see how they compare.

Thanks again!

[2019-08-02 17:57] #65 closed

[2019-08-02 18:58] RaphaelMeudec opened #67 "Support for tf.data as validation data"

[2019-08-05 08:29] Hassanfarooq92 opened #68 "ActivationsVisualizationCallback: predictions and filter_display dimension issue."
Dimension of prediction's output is (number of images, number of classes) while filter_display is looking for a 4D array.

[2019-08-05 09:11] RaphaelMeudec commented on #68
The callback is meant for convolutional layers visualisation and you're probably trying to apply it on a dense layer. That's why you're having a shape issue

[2019-08-05 10:01] dtransposed commented on #55
Hi! Thanks of all thank you for this great library!
Is this functionality high on your priority list?

[2019-08-05 10:05] RaphaelMeudec commented on #55
Hi! I'm on holiday for a few days, but plan to tackle this as soon as I get back. There's an open issue on Tensorflow to help fix this

[2019-08-05 10:13] dtransposed commented on #55
Excellent, thank  you!

[2019-08-05 20:28] Hassanfarooq92 commented on #68
So i should apply it after the activation function of convolution layers.
And ur gradcam gives gpu memory error. I have rtx 2080ti

On Mon, Aug 5, 2019, 2:11 PM Raphael Meudec <notifications@github.com>
wrote:

[2019-08-06 07:17] Hassanfarooq92 commented on #68
Got the stuff working. Just to let you know if model is being load and modified separately, it might give error of 'graph disconnected', shouldn't be difficult to tackle if it appears up.

[2019-08-06 07:21] #68 closed

[2019-08-12 07:08] RaphaelMeudec commented on #55
@dtransposed looks like getting support for subclassing API is going to be harder than expected: https://github.com/tensorflow/tensorflow/issues/30955#issuecomment-520291616

[2019-08-12 07:12] dtransposed commented on #55
Yes, I have tried to hack your code to use it with my models built using subclassing API and failed. It's a pity there is no way to "translate" between the functional and subclassing API so far...

[2019-08-23 14:36] RaphaelMeudec commented on #26
This behaviour is deprecated. Closing the issue.

![image](https://user-images.githubusercontent.com/12402673/63600590-1ea67c80-c5c4-11e9-8c6b-0815dce8fb52.png)

[2019-08-23 14:36] #26 closed

[2019-08-23 14:37] RaphaelMeudec commented on #53
Same behaviour for `IntegratedGradients`. Note that `transform_to_grayscale` has been moved to `tf_explain.utils.image.transform_to_normalized_grayscale`

[2019-08-28 16:55] Uiuran opened #72 "Lucid and your lib, tf-explain"
Hi, I Found very interesting your lib and its interpretability approach, with callbacks, what allows for in training/testing interpretations.

Do you know Lucid, from Deep-Dream creators ?
https://github.com/tensorflow/lucid/

It seems that you two can contribute to each other, i also plan to do something in your direction for the future ...

thank you (there is mailing list for this type of messa

[2019-08-28 21:13] EmanueleGhelfi opened #73 "Support for Binary Classification Models"
Hi, first of all thank you for tf-explain.

Currently I'm trying to use tf-explain with a model like this one:

[code]

This is a model used for a binary classification task for the cat vs dog dataset.
Using the tf-explain callback GradCAM does not seem to provide correct result.

I think this is due to the following line in the code:

https://github.com/sicara/tf-explain/blob/master/tf_explain/co

[2019-08-29 12:00] RaphaelMeudec commented on #73
@EmanueleGhelfi Hi Emanuele! I think this would induce some complexity in the code for a particular case. Maybe you can switch your final `Dense(1)` layer into a `Dense(2, activation='softmax')`? Then you would be able to select class 1 or 2

[2019-08-29 16:48] EmanueleGhelfi commented on #73
Yes, sure I can. I think that at least you can raise an Exception and you
can add this to the documentation, If not present.

On Thu, 29 Aug 2019, 14:00 Raphael Meudec, <notifications@github.com> wrote:

[2019-09-01 17:41] sidgan opened #74 "Visualizing Activation Layers"
Visualizations of the Activation Layers should happen after a convolution layer, and not the activation layer itself.

In https://github.com/sicara/tf-explain/blob/master/examples/core/activations_visualization.py#L20

[code]
needs to be replaced by
[code]

Happy to send a pull request for the same.

[2019-09-02 19:49] RaphaelMeudec commented on #74
It actually depends on whether you define the activation inside the `Conv2D` layer or outside. If you run the below snippet, first conv output is the output of the activation layer. Second one is the output of the convolution itself.

Maybe a more appropriate line would be `grid = explainer.explain(data, model, ['target_layer'])`? What do you think?

[2019-09-03 17:14] sidgan commented on #74
Agree with your suggestion.

[2019-09-06 14:44] #74 closed

[2019-09-06 14:44] RaphaelMeudec opened #76 "Guided Backpropagation"
[Arxiv link](https://arxiv.org/abs/1412.6806)

[2019-09-06 15:07] RaphaelMeudec opened #77 "Unguided Grad CAM"
Atm, guided backpropagation is included in Grad CAM automatically (see [here](https://github.com/sicara/tf-explain/blob/1a75841762985e55abe19107d09279f68f5731c8/tf_explain/core/grad_cam.py#L89)). The objective of this issue is to make optional this behaviour (but selected by default).

## How to do so?

- If you're not at ease with what Guided Backpropagation is, check the Class Activation Maps se

[2019-09-06 15:12] RaphaelMeudec commented on #63
@sayakpaul I've started looking into it, and Tensorflow makes it a bit hard to create a subgraph between the input of a model and a layer of a submodel. The solution to this is to flatten the submodel, so that the main model doesn't contain any submodels.

[2019-09-06 15:20] RaphaelMeudec commented on #72
Hi @Uiuran, thanks for pointing the library out! It seems they are more focused on kernel/channel visualizations. Will keep looking at it in the future.

You can also contact us via tf-explain@sicara.com, I'll add it in the README.

Thanks!

[2019-09-06 15:20] #72 closed

[2019-09-06 15:21] RaphaelMeudec commented on #73
I'm trying to avoid Exception to prevent trainings from breaking just because of a callback. Might add a warning though. Thanks!

[2019-09-06 15:21] #73 closed

[2019-09-06 17:02] sayakpaul commented on #63
Thanks @RaphaelMeudec. Could you provide an example?

[2019-09-13 20:57] cyrilledelabre opened #78 "Explain Tabular"
Hey,
Amazing work!

However, it seems that your library only works for image related models.
Would it be possible to implement also the version for "tabular data" ? Indeed, original work on integrated gradients that you are using wasn't only reserved to image models (ie https://github.com/hiranumn/IntegratedGradients). It would be wonderful if your library could be also usable for non image relate

[2019-09-14 19:33] mtwenzel opened #79 "Data is apparently uint8, causing an error for me"
After loading MNIST or FASHION-MNIST, training proceeds to almost the and of the batch, then crashes with an error that uint8 provided as "input" is not in list of allowed datatypes.

Inserting after:
https://github.com/sicara/tf-explain/blob/1a75841762985e55abe19107d09279f68f5731c8/examples/callbacks/mnist.py#L16

[code]
all works.

[2019-09-18 08:10] RaphaelMeudec commented on #78
Hi @cyrilledelabre ! Indeed, to this day the library only supports images. It is in our head to extend to NLP soon. However, we do not plan to work on tabular data for now as there are already other libraries that are doing great work on the subject (Shap for example)

[2019-09-18 12:45] #79 closed

[2019-09-19 15:58] #78 closed

[2019-09-20 12:18] RaphaelMeudec opened #84 "API Documentation not showing up on ReadTheDocs"
When building the docs locally, API documentation is available. However, it doesn't appear when deployed on ReadTheDocs

[2019-09-20 12:34] RaphaelMeudec commented on #84
Example: https://tf-explain.readthedocs.io/en/latest/api/tf_explain.core.html#tf-explain-core-integrated-gradients-module

[2019-09-21 07:23] cyrilledelabre commented on #78
Good to know that you will extend it to nlp !
Thanks for the answer ,

[2019-09-27 08:30] RaphaelMeudec opened #90 "Gradients*Inputs"
## Explanation

This issue aims at implementing the Gradients*Inputs method.

At the moment, there is only the Vanilla Gradients which is implemented. The difference between Vanilla Gradients (VG) and Gradients*Inputs (G*I) is that instead of returning the pure gradients for a given inputs, it returns the gradients ponderated by the input values.

The operation to perform is to take the input (sha

[2019-10-21 16:22] #90 closed

[2019-10-23 00:00] transcranial opened #95 "Heatmap display fails with rescaled image"
In the `heatmap_display` function, `original_image` is assumed to be [0, 255]. For GradCAM, when running `explain`, the original image is passed to the model as well as `heatmap_display`. However, if the model takes a rescaled input, such as [0, 1], then the output will not display the image since it's using the rescaled image.

In the GradCAM example, change [this line](https://github.com/sicara/

[2019-10-30 12:54] RaphaelMeudec opened #97 "Automatically detect last conv in Grad CAM"
Atm, grad CAM takes a layer_name which is suppose to be the last conv layer of the network. It confuses user, so detecting the last conv automatically would be nice

[2019-11-07 16:44] RaphaelMeudec commented on #95
@transcranial Just merged a patch for this on master, should be good.

[2019-11-07 16:44] #95 closed

[2019-11-11 10:33] Rubenkl commented on #63
@RaphaelMeudec  how would you proceed with accessing a 'subgraph' by flattening the model?

I proceeded by trying:
`explainer.explain(validation_data=(X,Y), model=model.layers[0], layer_name='conv5_block16_2_conv', class_index=1`
where `model.layers[0]` is a pretrained network block. However, the GradCAM returns empty..

[2019-11-12 17:16] barisic-fzi opened #99 "Which layer to choose when using gradCAM"
I am not sure which layer should be selected when using gradCAM.

This is my model description (from a YOLOv3 example - repo: https://github.com/YunYang1994/TensorFlow2.0-Examples/tree/master/4-Object_Detection/YOLOV3)

[https://www.codepile.net/pile/mqk0b0yQ](url)

If it is better I can also post the model description directly, but i think it looks messy like that.

#97 is related, if that would

[2019-11-21 13:26] RaphaelMeudec commented on #99
@barisic-fzi I'll try to integrate #97 as soon as possible. Target layer should be the last convolutional layer (according to the paper). The intuition is that the output filters of the last convolution are the features for the dense layers. That's why it's selected

[2019-11-21 14:23] twsI opened #100 "Example or support for ImageDataGenerator"
I'm currently using the tensorflow.keras.preprocessing.image.ImageDataGenerator and the flow_from_directory, which generates batches of data and I'm not too sure, how to implement the [subset](https://github.com/sicara/tf-explain/blob/master/examples/callbacks/tf_explain_mnist.ipynb?short_path=8798c77#L272). An example would be awesome!

[2019-11-25 17:34] JulesScholler opened #102 "Gradient is of type None"
I'm trying to un GradCAM on my own model (modified VGG16 with input shape (1,100,100,3) and 5 classes).

When I try to run :

`# Instantiation of the explainer
explainer = GradCAM()

# Call to explain() method
output = explainer.explain(validation_data, model, 'block5_conv3', 2)`

Then in the function get_gradients_and_filters(model, images, layer_name, class_index):

`grads = tape.gradient(loss,

[2019-11-25 18:33] RaphaelMeudec commented on #102
Can you provide a sample code that triggers the error?

[2019-11-26 08:52] JulesScholler commented on #102
Yes:

`model = load_model(r'.\data_cumsum\model_vgg_cumsum.h5')
# Unwrap layers (1st layer is VGG16 without the top)
tmp = Sequential()
for l in model.layers[0].layers:
    tmp.add(l)
for i,l in enumerate(model.layers):
    if i!=0:
        tmp.add(l)
model = tmp
model.get_layer('block5_conv3').trainable = True

# Load a single image for test
u = imread(r'.\data_cumsum\train\3\257.tif')
u = prepro

[2019-11-27 07:55] leeor-langer commented on #55
@RaphaelMeudec is there any update on this issue? A workaround is also fine ...

[2019-11-28 09:02] twsI commented on #100
A possible solution could look like this:
[code]
But when i try to select the first conv layer in `InceptionResNetV2`, I get the following error:
`ValueError: Input 0 of layer conv2d is incompatible with the layer: expected ndim=4, found ndim=1. Full shape received: [0]`
And I'm not sure, if this is related to my workaround or something else.

[2019-12-02 11:44] RaphaelMeudec commented on #55
@leeor-langer No fix as of today. Best option is to define subclass layer with strict minimum operations and use it in a sequential/functional model, instead of defining the whole model in a subclass layer.

[code]

[2019-12-07 05:28] ksasi opened #103 "Opacity in heatmap_display causing improper display of gradCAM for small images(Ex:- CIFAR10)"
Hi,

It appears the opacity parameter settings in heatmap_display are causing gradCAM to not properly superimpose on original images. This is specifically being seen when using CIFAR10 and small size data sets.

I think the following line needs a review in display.py file for heatmap_display function.

output = cv2.addWeighted(cv2.cvtColor(image, cv2.COLOR_RGB2BGR), 0.7, heatmap, 1, 0)

Thanks and

[2019-12-13 07:50] RaphaelMeudec commented on #103
Okay, will look into it and probably make it tuneable. Thanks for raising this!

[2019-12-20 14:10] RaphaelMeudec commented on #99
@barisic-fzi Layer is now automatically detected so that won't be a problem anymore

[2019-12-20 14:10] #99 closed

[2019-12-20 14:10] #97 closed

[2019-12-21 19:44] Cospel opened #107 "Preprocessing image"
Hi, thanks for great project. It works very well.

I have technical question about preprocessing the image for the cnn.

I looked into your examples, but normally every image which is input to VGG, ResNet, ... should be normalized before inferencing.

Why normalization is not applied here? The result of pretrained network in examples folder on not-normalized images can be wrong ....

Thank you!

[2019-12-23 10:07] barisic-fzi commented on #99
will try it out, many thanks!!!

[2019-12-23 10:09] RaphaelMeudec commented on #99
There should be a release this week, you can try it out from master at the moment.

[2019-12-23 15:07] barisic-fzi commented on #99
@RaphaelMeudec  tried on a basic example, works good :+1:
didn't find that it says which layer is selected, that would be cool if it's not already implemented

[2019-12-24 16:09] oke-aditya opened #108 "Import Error for certain classes"
- Hi. I am trying to import from tf_explain.core.gradients_inputs but facing an error

![image](https://user-images.githubusercontent.com/47158509/71419497-b8c32200-2695-11ea-861e-76e8201d068c.png)

The other imports such as
`from tf_explain.core.grad_cam import GradCAM
from tf_explain.core.activations import ExtractActivations
`

are working fine.

[2019-12-24 17:00] oke-aditya commented on #108
- Error also valid for VanillaGradients methods from tf.core

[2019-12-26 09:02] RaphaelMeudec commented on #108
@oke-aditya Thanks for reporting this, will look into it during the week!

[2019-12-27 10:00] RaphaelMeudec commented on #100
Terribly sorry for not answering earlier. My guess is that the condition `np.all(np.argmax(label) == 0)` is not met when you use the `flow_from_directory`, so your validation class zero is empty and hence has shape [0]. To validate this, could you tell what `y` looks like?

I'm looking for the next release to support `ImageDataGenerator` and `tf.data.Dataset`, which should solve this.

[2019-12-27 10:01] #42 closed

[2019-12-31 18:20] oke-aditya commented on #108
- Any Updates ?

[2019-12-31 18:22] RaphaelMeudec commented on #108
I've made a release, try upgrading to 0.2.0

[2020-01-01 05:59] xgxofdream opened #110 "Do I necessarily tell the class index"
Hi Thanks for this nice code.

I have to tell the code:

`CAT_CLASS_INDEX = 281`

is there any way that the code get the class-index automatically?

Many thanks.

[2020-01-02 10:13] Cospel commented on #107
I try to extend your code in this way and now it works for other models as ResNet, MobileNet and other (not only VGG):

[code]

[2020-01-02 10:22] RaphaelMeudec commented on #107
@Cospel Why not doing the preprocessing before calling the explainer?

[code]

[2020-01-02 10:25] Cospel commented on #107
Then the resulted image will not be nice (interpretable) :) at all. You need to concat resulted heat map with not preprocessed image.

[2020-01-03 07:51] Cospel commented on #107
Ahh, in new version 0.2.0 you added method image_to_uint_255 for heatmap visualization which **helps a lot** to the input normalization problem! So the resulted images and the preprocessing before calling the explainer looks much better.

There are however architectures/models which are using different normalization of images which are not necessary in interval [0f, 1f], [-1f,1f] or [0int, 255int]

[2020-01-03 08:06] RaphaelMeudec commented on #107
In a future release, I'll split creation of the attribution map from visualization, so people have more control over what they want to output and possibly create custom visualizations. Thanks for raising this!

[2020-01-03 08:06] #107 closed

[2020-01-09 16:29] RaphaelMeudec commented on #103
The argument `image_weight` has been added to GradCAM so users can set their own superposition value.

[2020-01-09 16:29] #103 closed

[2020-01-09 16:30] #53 closed

[2020-01-09 16:31] #54 closed

[2020-01-09 16:32] RaphaelMeudec commented on #110
I'm thinking about auto-infering the target index to the index with max confidence, but it's not sure as of today. For now, you should provide the target index.

[2020-01-09 16:33] RaphaelMeudec commented on #108
@oke-aditya Can you check with the newer version and tell me if you have any issue?

[2020-01-09 17:42] oke-aditya commented on #108
- Yep Resolved now. I have a nice Colab Tutorial taken from your resources.
I Would like to share that to improve docoumentation.

[2020-01-09 17:46] oke-aditya commented on #108
-
[tf_explain.zip](https://github.com/sicara/tf-explain/files/4041734/tf_explain.zip)

[2020-01-09 17:46] #108 closed

[2020-01-13 17:01] barloccia opened #113 "Apply tf-explain to Cnn+LSTM model"
Hello,
Thank for the work, very useful.
I am using a network like: CNN (feature extraction) + LSTM (sequence classification) and I would like to apply tf-explain to it. Is that possible in some way? How can I extend the idea of Grad-Cam (for example) to such a network?
Thanks in advance for the help,
Gabriele

[2020-01-17 08:27] Student-HXJ opened #114 "Can this tool work for Conv3D ?"

[2020-01-17 16:36] barloccia commented on #102
Any solution for this?

[2020-01-17 17:46] JulesScholler commented on #102
I switched to PyTorch and found more useful implementations. My feel is that Tensorflow is a pain in the ass to debug between versions.

[2020-01-20 10:44] barloccia commented on #63
Any updates on this?
I am using a network such :
`
inc = InceptionV3(
    weights=imagenet,
    include_top=False,
    pooling=max,
    input_shape=(shape[0], shape[1], 3)
)
for layer in inc.layers:
     layer.trainable = False

model = Sequential()
model.add(
            TimeDistributed(inc, input_shape=(chunk_frames, shape[0], shape[1], dataset_.n_channels))
    )
model.add(Dropout(0.2))
model.a

[2020-01-25 17:25] druzkaya opened #115 "OcclusionSensitivity callback issue - get stucks or index error"
TF 2.1, tf-explain 0.2.0
------

Hello,

I'm using tf-explain (callbacks) on about 70.000 images, 56*56*3, and two labels (0: 13%, 1: 87%), in order to explain class 0 classification. Whereas GradCAM works perfectly, I systematically have issues with OcclusionSensitivity.
With class_index=0, it gets stuck forever, with class_index=1 I get the following error message.

cb_gradcam = GradCAMCallback(

[2020-01-25 18:40] #115 closed

[2020-01-25 19:00] RaphaelMeudec commented on #115
@druzkaya I see you closed the issue, I'm still curious about what was going wrong?

[2020-01-30 10:14] twsI commented on #100
Terribly sorry for not answering earlier 😄
Looks like your thought was on point, the condition `np.all` is aparently not always met.

[code]

(3,)
0
(300, 300, 3)
(3,)
0
(300, 300, 3)
(3,)
1
(300, 300, 3)
(3,)
1
(300, 300, 3)
(3,)
1
(300, 300, 3)
(3,)
1
(array([], dtype=float64), None)

This is probably due to the fact, that I rely on transfer learning and do not have a sufficient amount of sample

[2020-02-06 17:10] AntonioMarsella opened #116 "[Grad-CAM] I'm continuously getting this error"
The following is the model:
[code]
I tried both:
[code]
and also using `model1 = tf.keras.models.Model([model.inputs],[model.get_layer('block2_conv1').output, model.output])
` but I always get:

[2020-02-13 11:07] RaphaelMeudec commented on #116
@AntonioMarsella I guess this is in no way related to tf-explain. You can extract those 4 layers from the VGG this way to make it work:

[code]

[2020-02-13 11:07] #116 closed

[2020-02-19 14:06] matheushent opened #120 "Change image size on Tensorboard"
Is there a way to change the images size on Tensorboard? I think they are very small to me and I can't have a good visualization.

[2020-02-21 09:24] VictorW96 commented on #100
I have the same problem. Is there support for the `ImageDataGenerator` in version 2.1.0? I haven't found it yet.

[2020-02-22 23:28] matheushent commented on #54
@RaphaelMeudec I think a solution would be swap the softmax activation to linear activation. I'm working on this but not getting success 'till now

`grad_model.layers[-1].activation = tf.keras.activations.linear`

Something like this would work, but note that just doing it doesn't change the graph, and that is the part I'm struggling

[2020-02-22 23:38] matheushent commented on #54
The problem was solved to me swapping the softmax layer after compiling it and then calling the GradCAM class.

`def apply_modifications(model, custom_objects=None):`
       `model_path = os.path.join(tempfile.gettempdir(), next(tempfile._get_candidate_names()) + '.h5')`
       `try`:
             `model.save(model_path)`
             `return load_model(model_path, custom_objects=custom_objects)`

[2020-02-24 03:07] matheushent opened #121 "Error in transform_to_normalized_grayscale"
I have been debugging some functions and I noticed that **transform_to_normalized_grayscale** defined in **tf_explain/utils/image** doesn't return a 4D tensor as described in function.

I think the **channels** axis is being totally disconsidered. So, the **keepdims** argument inside reduce_sim must be set to **True**, furthermore `tf.reduce_sum` would be properly changed by `tf.math.reduce_sum`.

[2020-02-24 03:34] matheushent commented on #121
I am a little bit lost about what exactly **transform_to_normalized_grayscale** does. The output of this function just gives me completely black images instead of gray scale images.

[2020-02-25 21:36] RaphaelMeudec commented on #120
Could be a nice feature, will look into this

[2020-02-28 17:09] gururajaramesh commented on #99
@RaphaelMeudec Can you please share the link to the repository you are referring to? I am trying to implement GradCAM for Yolov3 as well.

[2020-03-09 15:13] RaphaelMeudec commented on #54
Thanks @matheushent for the investigation. I'm not sure whether tf-explain should or shouldn't apply modifications to input models. I'll think about it, and leaving this open so people can have a reference!

[2020-03-09 15:21] RaphaelMeudec commented on #99
@gururajaramesh I'm not sure which reference you're talking about? I'm not pointing to any repository (except this one)?

[2020-03-09 15:24] RaphaelMeudec commented on #121
@matheushent Totally agree with you. This function does too much things and should be split into multiple ones. At the moment:

- apply sum along axis and transforms the input of shape (H, W, C) into (H, W, 1)
- cast from float to integers

Hope it helps a bit, will try to make it cleaner

[2020-03-19 09:06] RaphaelMeudec commented on #114
@Student-HXJ Unfortunately, it is not fitted for conv3D as of today, partly because I'm unsure how to offer efficient 3D visualizations. Any suggestion on the topic is more than welcome!

[2020-03-20 17:21] matheushent opened #123 "Implementation of Ablation-CAM"
I think it would be very nice to implement Ablation-CAM method exposed on _[Ablation-CAM: Visual Explanations for Deep Convolutional Network via Gradient-free Localization](http://openaccess.thecvf.com/content_WACV_2020/papers/Desai_Ablation-CAM_Visual_Explanations_for_Deep_Convolutional_Network_via_Gradient-free_Localization_WACV_2020_paper.pdf)_

It seems to be not so hard to do

[2020-03-22 22:02] RaphaelMeudec commented on #123
@matheushent Thanks for pointing out the article, will look into it more deeply, but it seems pretty do-able indeed!

[2020-03-31 06:52] RiyazAina-DeepML commented on #77
NameError: name 'GradCAM' is not defined

[2020-03-31 08:14] RaphaelMeudec commented on #77
@RiyazAina-DeepML Could you create a new issue and put some context in it? For example, a sample code to reproduce the error. Thanks

[2020-03-31 11:17] rao208 commented on #95
@RaphaelMeudec Could you please tell me what does this mean? I am using tensorflow 2.1.

I still can't see the heatmap when the image is rescaled. I have a python file in which I do import tf_explain and Occlusion sensitivity callback.

[2020-04-04 06:09] r0cketr1kky opened #124 "Implement ScoreCAM"
ScoreCAM is relatively new in this area.
Link: https://arxiv.org/pdf/1910.01279.pdf

[2020-04-05 14:54] r0cketr1kky opened #125 "My generated image for "integrated_gradients.py" was totally black."
I know this isn't the right way to talk about this problem but I didn't know how to contact the maintainers.
I don't know why this happens. I tried it out for different images, but to no avail.

![Screenshot from 2020-04-05 20-22-06](https://user-images.githubusercontent.com/39258575/78501853-5fca5600-777b-11ea-8f65-2f3aed5abf3e.png)

[2020-04-06 00:13] matheushent commented on #125
It happened to me and I fixed it normalizing or unnormalizing, I don't know exactly.

[2020-04-06 00:19] matheushent commented on #125
It happened to me and I fixed changing transform_to_normalized_grayscale function.

change:
`grayscale_tensor = tf.reduce_sum(tensor, axis=-1)`

to:
`grayscale_tensor = tf.math.reduce_sum(tensor, axis=-1, keepdims=True)`

[2020-04-06 07:05] r0cketr1kky commented on #125
Hi, thanks for your reply @matheushent .
Still no luck. I changed it and I still get the black image...

[2020-04-06 09:30] michaelsok opened #126 "Preprocessing function argument needed ?"
Hi, and thanks for the work on interpretability!

It may be a dumb questions, but shouldn't the methods like OcclusionSensitivity, SmoothGrad and any interpretability method which use modified inputs have a preprocess_function argument?
I mean, technically, the preprocessing may be a step before the model (such as the preprocess function in keras for VGG-16) but change the distribution of the imag

[2020-04-06 11:24] matheushent commented on #125
Try to plot _grayscale_integrated_gradients_ inside explain function. If it works so you found the problem is in grid_display function. Remember _grayscale_integrated_gradients_ is a 4D array (batch_size, height, width, channels).

[2020-04-06 12:34] r0cketr1kky commented on #125
Will it work if I remove that function? Because I don’t see any point of
it, other transforming it into grayscale.

On Mon, 6 Apr 2020 at 4:55 PM, Matheus Tosta <notifications@github.com>
wrote:

[2020-04-06 12:45] matheushent commented on #125
Indeed I don't use that function, so it will. I just return _grayscale_integrated_gradients_ and work with it knowing it is a 4D array. Furthermore, doing that, you can get all pictures without using the grid, so I can work separately on each image.

[2020-04-06 12:49] r0cketr1kky commented on #125
Do you have any example code for me to look at for working with a single
image? I’m still having trouble, even after removing the grayscale function.

On Mon, 6 Apr 2020 at 6:16 PM, Matheus Tosta <notifications@github.com>
wrote:

[2020-04-06 12:49] RaphaelMeudec commented on #125
Hi everyone! The problem comes from the facts that th enumber of channels in the map can be > 3, which is unhandy to plot. Reducing to 1 channel only aims at representing it more easily.

In the next tf-explain release, I'll make sure to split the generation of the 4D tensor from the generation of the visualization, so that anyone can use attribution map the way they want.

[2020-04-06 14:40] #114 closed

[2020-04-09 02:17] matheushent commented on #124
I've been working on [implementing Score-CAM](https://github.com/matheushent/score-cam) in the moulds of tf-explain, but I guess I didn't get success. I think I'm very close to the right algorithm.

Any help would be great.

[2020-04-14 08:58] ShowTimeJMJ opened #127 "name 'GradCAM' is not defined"
NameError                                 Traceback (most recent call last)
<ipython-input-10-1e4efd9691e0> in <module>
----> 1 explainer = GradCAM()
      2 grid = explainer.explain(data, model, class_index=np.argmax(preds[0]))

NameError: name 'GradCAM' is not defined

[2020-04-14 09:11] RaphaelMeudec commented on #127
@ShowTimeJMJ Could you provide a minimal example that raises the error? Which version of tf-explain are you using?

[2020-04-14 10:39] Holt59 opened #128 "No multiplicaton with inputs in integrated gradient?"
In the integrated gradient paper, the formula for the ith dimension is:

![image](https://user-images.githubusercontent.com/2393288/79216056-d38bf300-7e4c-11ea-8462-20f71d2f4f64.png)

But in your implementation, it looks like you never multiply with `images` (since you assume a zero-baseline). Is that intended? If so, could you explain the reasoning behind this?

[2020-04-14 20:08] haofanwang commented on #124
Hi, @matheushent, implementation of Score-CAM has been released in https://github.com/haofanwang/Score-CAM, I hope this can help.

[2020-04-15 16:50] matheushent commented on #124
@haofanwang Very nice, I'll look deeper. Thank you!!

[2020-04-16 12:06] rao208 opened #129 "Occlusion sensitivity works for only one class, but shows error for other class in cat_vs_dogs dataset from tensorflow"
I am trying to apply occlusion sensitivity on the "cats_vs_dog" dataset. First, the model is trained as given in the link [https://www.tensorflow.org/tutorials/images/transfer_learning](URL) and then the trained model and the sample image is loaded to carry out occlusion sensitivity.

In an amateur attempt, the following lines were added in the code for tf-explain.

[code]

It works fine for class

[2020-04-17 13:50] r0cketr1kky commented on #125
Hello @RaphaelMeudec , how do I reduce my tensor from (1,400,400,3) to a single channel ?

[2020-04-17 13:56] r0cketr1kky commented on #125
When I use the `transform_to_normalized_grayscale` function, I get a tensor with all values 0(with shape (1,400,400,1)), but when I just return `integrated_gradients` in the `get_integrated_gradients` function, I get the gradients(with shape (1,400,400,3)).
I think there's something wrong while changing my image to grayscale. Is it possible to reduce the dimensions of the value of the gradients di

[2020-04-27 15:57] #129 closed

[2020-05-04 06:27] Meywether opened #130 "[Bug Report] - Error in true_divide -> All ResnetV2 Keras Models"
Dear Sicara,
thanks for this great easy-to-use library.
I do have to mention a bug in all ResnetV2 Models:
Starting with a small modified version of your provided example, tf-explain throws following error by using:

- ResNet50V2
- ResNet101V2
- ResNet152V2

The "V1" Versions are working properly. -> Tested with all three variants!

The script throws following error:

![image](https://user-images.

[2020-05-04 16:08] mferri17 commented on #116
@RaphaelMeudec I found the same problem while trying to use GradCAM on a pre-trained (and later modified) model. My `Graph disconnected` error is very similar to the one above.

[These StackOverflow answers](https://stackoverflow.com/questions/60623869/gradcam-with-guided-backprop-for-transfer-learning-in-tensorflow-2-0) try to give an explanation of the reason, which seems to be imputable to `tf-

[2020-05-09 15:42] johnny-mueller opened #132 "Challenge: Working with tfrecords"
I have a problem with the input. I have built a model based on the Yolov3 structure that uses tfrecords as input. Currently I have the requirement that I cannot pass a numpy array. Naive I tried to use tfrecords as input but did not get any useful results.

I get the following error message:
[code]
Here is the corresponding code I used for this.  The loading and preprocessing is based on the prepr

[2020-05-10 13:04] RaphaelMeudec commented on #132
@johnny-mueller tf-explain does not support (yet) tf.data inputs, only numpy array. So a workaround is to use `.take` on your dataset and pass it to the explainer as numpy arrays. Supporting tf.data.Dataset is on the roadmap, will comment on this issue once it's done!

[2020-05-10 13:32] RaphaelMeudec commented on #130
@Meywether This might be due to heatmap.min being equal to heatmap.max. You might want to remove the last softmax layer of the Resnet to prevent this from happening.

[2020-05-10 14:17] johnny-mueller commented on #132
@RaphaelMeudec Thanks for the workaround. I just implemented it and it seems to work. Nevertheless I currently have problems with the input layer.

[code]

[2020-05-12 02:08] nishantagarwal commented on #130
@RaphaelMeudec  is right here. Even I had the same issue. I resolved it by removing the last layer from my pre-trained model.

[2020-05-12 06:07] Meywether commented on #130
Hello @RaphaelMeudec and @nishantagarwal ,
thanks for your response.

`    model = tf.keras.applications.resnet_v2.ResNet50V2(weights="imagenet", include_top=False) ` - is not working

So I created a second model by using:
`model2 = Model(model.input, model.layers[-2].output)`

model2.summary() shows me that the props layer is gone, but still getting the same error

I thought that `model2 = Model(

[2020-05-12 06:10] Meywether opened #133 "[Any Hints?] - TF-explain for YOLOv3"
Hello everyone :)

Does anyone has experience by using tf-explain or any other explainability lib for using it with YOLOv3?

I am looking pretty long for it, but only found this one: [feature vis yolo v3](https://github.com/jennalau/feature-vis-yolov3) https://github.com/jennalau/feature-vis-yolov3

But it is not working, because a lot of files are missing and the author is not responding ...

Man

[2020-05-13 02:58] juniorpires commented on #110
One question: if I use callbacks it will apply GRAD CAM (for example) in different images classes, but in the constructor I'll put only one class_index (class_index=0, for example). How this work?

[2020-05-14 09:28] RaphaelMeudec commented on #110
@juniorpires The trick for now is to build datasets subsets by class (which is not optimal). I'm working on it atm to:
- handle `y_true` argument
- generate `y_true` automatically from predictions argmax if not provided

[2020-05-14 21:46] juniorpires commented on #110
@RaphaelMeudec Thank you for the explanation.

[2020-05-14 21:47] juniorpires commented on #110
@RaphaelMeudec Thank you for the explanation.

[2020-05-16 08:05] johnny-mueller commented on #133
@Meywether Which implementation of yolov3 do you use and which error message do you currently receive? I am also working on this question and maybe we can benefit from each other.

[2020-05-16 08:19] Meywether commented on #133
Hello @johnny-mueller,
i tried it with yolov3 TF1 and TF2 but I never got it running. I always fail because I can not get beyond passing the class index to the lib. I am currently trying to access the layers shape in a keras tf 2 implementation. Next step would be to access the heatmap for all classes. But I am not so far now. ;)

[2020-05-16 08:33] johnny-mueller commented on #133
@Meywether If I understand you correctly, you are currently trying to create the model using keras.model(input_layer, output_layer)? if this is the case, then we are currently in the same spot. Unfortunately, I can't really get any further, but maybe you have an approach at the moment?

[2020-05-16 09:48] Meywether commented on #133
@johnny-mueller Yes, we are at the same spot. The main problem, out of my perspective is, that we are loosing the connection between the class props after the nms of yolo, before the yolo head.
I will update this issue if I come any further !

[2020-05-16 10:21] johnny-mueller commented on #133
@Meywether I am also of the opinion that it is a connection problem. I permanently get a message that he cannot find input_07. But if you take a closer look at the model you see that there is an input_06 layer and only then an input_09 again. I can't find input_07 and input08 myself.
If I should come to a result, I would also contact you.

[2020-05-16 10:25] Meywether commented on #133
@johnny-mueller Maybe I can help you:
I found out that (my Yolo) consists out of multiple submodels (= Keras.Model instance). The input errors occurs also at my code.

[2020-05-16 13:23] johnny-mueller commented on #133
@Meywether
I think I could solve the problem. I have another problem a few lines below but the input should work. I don't know the implementation you use but it was enough for me to add the input layers manually.
Here is an example that works for me:

[code]

[2020-05-16 13:53] Meywether commented on #133
Congrats! @johnny-mueller
Do you have a github repo where you can add me ? Maybe I can help you/ you me ^^
It seems to be a TF 2 implementation ?
Shouldn't it be keras.**M**odel instead of keras.model?

[2020-05-16 14:03] johnny-mueller commented on #133
@Meywether
Currently I have no repo but I use this repo for the Yolov3 with TF2:
https://github.com/zzh8829/yolov3-tf2

And yes, it must be "keras.Model()"

[2020-05-16 14:05] Meywether commented on #133
Fine! same starting repo!
But does it work with keras.Model instead of your keras.mode ?

[2020-05-16 14:06] johnny-mueller commented on #133
@Meywether No it does not. It was just a copy&paste error. In my code it was right

[2020-05-16 14:10] Meywether commented on #133
"AssertionError: Could not compute output Tensor("lambda_1/Identity:0", shape=(None, None, None, 3, 85), dtype=float32)"

perfect. mmh whats your input shape of the image? or the layer before?

[2020-05-16 14:26] johnny-mueller commented on #133
Input processing is the same as in the detect.py file from the original yolov3 repo

[2020-05-16 16:09] #132 closed

[2020-05-16 16:34] Meywether commented on #133
mmh ok, can you try to get the output shape of the previous layer before the error occurs?

[2020-05-16 17:01] johnny-mueller commented on #133
shape = (None, None, None, 256)

[2020-05-16 17:21] johnny-mueller commented on #133
@Meywether here the file is uploaded. the code is still very unorganized and chaotic.

https://www.file-upload.net/download-14080821/grad-cam.py.html

[2020-05-16 17:28] Meywether commented on #133
(None, None, None, 3, 85) -> from your code above, it seems that, whyever, there is a shape issue, need to check you code, when i am back at my pc :)

[2020-05-17 08:12] rafiqhasan commented on #67
This is a very good feature request, any update on this feature implementation.

[2020-05-17 11:08] johnny-mueller commented on #133
@Meywether any suggestions to solve the current issue?

[2020-05-17 19:10] aish-where-ya opened #134 "Core API Vanilla Gradients example not working"
Hello,
I was trying to implement Vanilla Gradient Core API for my deep learning model and the tutorial did not work for me. I was implementing it on Google Colab.
This is my code -
[code]

I am using a Densenet201 model. Following is the traceback that I got -

[code]

Upon checking `vanilla_gradients.py` , the function `compute_gradients(images, model, class_index)` expects the first argument to

[2020-05-17 19:55] RaphaelMeudec commented on #134
@aish-where-ya I guess you might want to try `data = (np.array([img]), None`

[2020-05-18 06:13] Meywether commented on #133
No, I did not come any further sorry -.- Need to improve my understanding of these things in more detail ...

[2020-05-26 13:07] rao208 opened #135 "Occlusion sensitivity doesn't give output"
Hello folks,

It is not really a bug in tf_explain, but I am reaching out to the tf_explain community here because I really don't know who else to reach.

I am working on Synthetic MNIST dataset with image size = (64,64,3). The images are downloaded from Kaggle. These images were brightened and then sharpen (train, test and validation) before normalizing it (i.e. /255).

**Original Image**
![image

[2020-05-26 13:16] RaphaelMeudec commented on #135
@rao208 You might want to reduce the patch size: a patch size of 20 means you only apply 3 patches along the x axis. Among the 9 patches, the bottom-right might be giving less information, hence the global red colormap. You might want to use a patch size of 5, or different patch size values (e.g [2, 5, 10]) to be able to compare multiple attribution maps.

[2020-05-26 13:32] rao208 commented on #135
Thank you for the quick response @RaphaelMeudec. Even with the different patch sizes, the heatmap location is the same. Here are the results:

**Patch size 5**

![class_0_3_patch_size5](https://user-images.githubusercontent.com/44291384/82906554-be36d800-9f65-11ea-95da-1489e3fe2c57.png)
![class_0_1_patch_size5](https://user-images.githubusercontent.com/44291384/82906557-be36d800-9f65-11ea-9455-658

[2020-05-26 13:39] RaphaelMeudec commented on #135
Could you provide the link to the dataset and the training script? (in particular the preprocessing you apply to the images)

[2020-05-26 14:47] rao208 commented on #135
The link to the dataset in Kaggle is https://www.kaggle.com/prasunroy/synthetic-digits?

There are two folders: imgs_train and imgs_valid each of these contains 10 more folders. I, first, put all the training digits in the 'train' folder and testing digits in the 'test' folder. Later, converted them into .npy file. I tried to convert the folder into the .zip file, but it was too big to upload here

[2020-05-26 19:15] rao208 commented on #135
@RaphaelMeudec This is code to convert the image folder into .npy file

[code]

Just in case if you need this code

[2020-05-27 12:50] rao208 commented on #135
@RaphaelMeudec

Update:

I have observed a similar pattern when I use Albumentation image augmentation technique.

[2020-05-27 18:53] TedGraham opened #136 "GradCAM's heatmap worsened from .1 to .2"
I'm using Keras' VGG16 to classify a picture of a dog and am generating a heatmap from GradCAM.explain.

Using .1.0 and specifying the layer_name of "block5_conv3" gives a much nicer heatmap than using .2.0 and not specifying the layer_name.  See attached.

- the behavior of .2.1 and .2.0 appears the same to me
- specifying the layer_name with .2.1 doesn't fix this, the auto choosing of the layer

[2020-05-28 13:20] SelComputas opened #137 "tf-explain for pre-trained (frozen) .pb models"
Hi,

I am looking for a way to implement these explainability features for my pre-trained .pb TensorFlow model, but it seems like the majority of the examples are for .h5 Keras models.

So I was wondering if you are planning to implement the functionality for these types of models (.pb) as well?

[2020-05-29 21:12] rao208 commented on #135
@RaphaelMeudec  Please help me. Do you think there is any bug in my code? I tried different preprocessing techniques (like albumentation data augmentation, standardization, normalization, brightening and sharpening the image)

[2020-06-03 15:09] tohnperfect opened #138 "Got graph disconnected error when using a pre-trained sequential model."
I have a trained sequential model which composes of a pre-trained headless efficient net and the final layers. The model.summary() look as follows,

[code]

My efficientnet-b3 model looks like,

[code]

I tried to use core API GradCAM for the trained model as follows,

[code]

which output this error,

`ValueError: Graph disconnected: cannot obtain value for tensor Tensor("input_1:0", shape=(None,

[2020-06-04 12:49] rao208 commented on #138
I faced a similar problem a few days back.  Try this and this worked very well in my case:

**_Change it to the functional model_**

[code]
Now, train the model and use it for GradCAM. I hope it works for you too. Please do let us know if you find any other solution i.e. a way around for Sequential models.

[2020-06-04 13:42] tohnperfect commented on #138
Thank a lot @rao208

This means creating a model in a functional way before training and train it again, right?
I will try that and updated here.

I still wonder if the sequential model can be used with TF-explain because I have several trained sequential models to be explored with GradCAM.

[2020-06-04 14:28] rao208 commented on #138
@tohnperfect

Yes, this means creating the classifier part i.e. global average pooling layer and dense layer (as written in my reply above) in a functional way (before training) and train your entire model again. I used VGG16 as my pre-trained model with `include_top=False`. I guess it is okay when the pre-trained model is a sequential model (just try and see if it is okay :) )

Well, you can use

[2020-06-04 15:07] tohnperfect commented on #138
I got it. Thank! @rao208

[2020-06-04 15:07] #138 closed

[2020-06-07 12:54] RaphaelMeudec commented on #136
Thanks for raising this, will look into it!

[2020-06-16 12:42] AshishGusain17 opened #139 "Pre-trained layers name"
Right now, we can give only those layers name that we add ourself.
Suppose we are using pre-trained models like ResNet50, how to use their names and get visualisations as they are giving errors.

[2020-06-19 14:32] rao208 commented on #139
@AshishGusain17 Please check the issue #138

[2020-06-21 00:26] DLyzhou opened #140 "How about the XRAI which is based on Integrated saliency"
Thanks for your great work!
The XRAI might be a more intuitive interpretability tool for CNN models, which is based on the Integrated saliency.

Paper: https://arxiv.org/abs/1906.02825
TF 1.x version: https://github.com/PAIR-code/saliency

[2020-06-22 17:42] hanotrahul opened #141 "Does tf-explain support tf.estimator.train_and_evaluate(estimator, train_spec, eval_specs)"
hello,
Do we can right  callback function for **tf.estimator.train_and_evaluate(estimator, train_spec, eval_specs[0] clallback)** if yes how we can write callback function for it

[2020-06-22 23:19] rao208 commented on #135
@RaphaelMeudec What is the use of grid_display function? I went through your code on occlusion sensitivity. I get the use of everything except for the grid_display function. I was wondering what is the significance of that function? What if we do not use that function?

[2020-06-22 23:21] rao208 commented on #127
@ShowTimeJMJ Maybe you did not import GradCam. Happened with me before.

[2020-06-22 23:23] rao208 commented on #125
@matheushent What is the use of grid_display function? I went through the code and I get the use of everything except for the grid_display function. I was wondering what is the significance of that function? What if we do not use that function?

[2020-06-23 01:27] matheushent commented on #125
In my understanding, _grid_display_ function only concatenates all images into one. When disabling it you need to change the way things happen on callback. For example, here is the example of what I did in the core:

[code]

Note that doing it and setting _grid as false, _grayscale_integrated_gradients_ will return a 4D array of shape (batch_size, H, W, N), so a error will be raised since [here](h

[2020-06-23 01:31] matheushent commented on #135
@rao208 I explain a little bit about _grid_display_ [here](https://github.com/sicara/tf-explain/issues/125#issuecomment-647852031) and how you can not use it. Hope it helps you.

[2020-06-23 10:56] rao208 commented on #125
@matheushent So, basically grid_display is required only

1. if we use callbacks instead of core i.e.  IntegratedGradientsCallback(Callback) instead of IntegratedGradients

2. if we give a list of images test_data = ([img1, img2....etc], None)

Is that correct?

[2020-06-23 11:31] matheushent commented on #125
@rao208 Yes, but note you need to pass a list ```[img1, img2, etc...]``` using specifically integrated gradients since [here](https://github.com/sicara/tf-explain/blob/master/tf_explain/core/integrated_gradients.py#L37) the code stacks the images. Using GradCAM you'll need to stack by yourself for example.

[2020-06-23 11:45] rao208 commented on #125
@matheushent Oh okay... now it is clear...Thank you :)

[2020-06-30 11:29] VictorW96 commented on #125
This also happened to me for other Gradient based Saliency Map mehthods.
For my purpose i could fix it by returning the gradients directly without applying the `transform_to_normalized_grayscale` function
![image](https://user-images.githubusercontent.com/40980071/86120970-7f042580-bad5-11ea-817d-55eeca36d130.png)

[2020-07-02 07:16] bersbersbers opened #142 "Installation should accept opencv-contrib-python"
[code]

But I have `opencv-contrib-python` installed, and everything is working fine. See also https://github.com/aleju/imgaug/issues/473

[2020-07-02 12:55] RaphaelMeudec commented on #142
@bersbersbers thanks for pointing out! Would be happy to review a PR for it if you have time to work on it

[2020-07-03 04:23] rao208 commented on #68
@Hassanfarooq92 So, should we apply it after the activation function of convolution layers or after the cnn layer(if activation is not defined inside the layer)?

[2020-07-10 13:51] darinmandarin commented on #142
I also have an issue with opencv when importing tf_explain or any of callbacks.

AttributeError: module 'cv2' has no attribute 'COLORMAP_VIRIDIS'. Neither of installed opencv packages work
(opencv-contrib-python==4.3.0.36
opencv-python==4.3.0.36)

[2020-07-11 10:06] #127 closed

[2020-07-11 10:07] #134 closed

[2020-07-11 10:07] #77 closed

[2020-07-13 05:21] ishita-gupta0810 opened #145 "Implementing tf-explain for regression using CNN"
Most of the functions such as GradCAM ,smoothGrad and others require us to provide a class index as well. Incase we use a CNN model with a linear activation layer with 1 node, so as to implement a regression model. How would we use tf-explain for the visualisation ?

[2020-07-22 11:31] shaheen-syed opened #146 "GradCam shows same activations for different class_index with use_guided_grads = True"
I have a trained 4 class CNN model based on a VGG16 architecture. I am using gradcam to inspect where in each image each class activates. However, when I use gradcam with `use_guided_grads = True`, I get the same heatmap for each class_index. I expect the activations to be different for class_index 0, 1, 2 and 3. When I set the use_guided_grads to False, then the output is as expected, that is, a

[2020-07-24 08:02] RaphaelMeudec commented on #146
The guided gradients have a misleading effect on attribution map. It implies a heavy contribution of the raw input into the construction of the attribution map, and can cause to produce unexpected "valid" feature map for some classes.

A nice paper that is going though this effect (and others) is [Sanity Check for Saliency Maps](https://arxiv.org/abs/1810.03292).

[2020-08-04 09:48] shaheen-syed commented on #146
Thanks for letting me know. After I posted the issue I also come across the paper you mentioned, and some others addressing similar issues/concerns.

[2020-08-05 19:58] leszekmp opened #148 "Modify image size for activations?"
Is there a way to change the png output size for activations? 896 x 896 appears to be the standard, but it's marginal for later-layer visualizations. And if I try to visualize activations for "conv5_block3_1_conv" in ResNet50, I get an image that's 161 x 161, with tiny images for the activations that are impossible to make out any detail on.

[2020-08-08 01:34] vscv opened #149 "[NOTE] tf version issue: tf.function-decorated function tried to create variables on non-first"
This error occurred when using tf2.3. somehow tf-explain work just fine with tf2.2.

`
import tensorflow as tf
from tf_explain.core.grad_cam import GradCAM

IMAGE_PATH = './0_in.jpg'

# all default from github

# Load pretrained model or your own
model = tf.keras.applications.vgg16.VGG16(weights="imagenet", include_top=True)

# Load a sample image (or multiple ones)
img = tf.keras.preprocessing.im

[2020-08-13 08:21] vscv commented on #138
Thanks @rao208 @tohnperfect It's works.

Here is workable example just for reference.

`
# MobileNetV2
num_classes = 5

inputs = tf.keras.Input(shape=(224, 224, 3))
aug = data_augmentation(inputs)
pre = preprocess_input(aug)

bm_output = base_model(pre, training=False)
gap2d = tf.keras.layers.GlobalAveragePooling2D()(base_model.output)
dro = tf.keras.layers.Dropout(0.2)(gap2d)
outputs = tf.keras.l

[2020-08-13 11:36] rao208 commented on #138
@vscv There are some techniques online to add the additional input layers to the pretrained model (example: [https://stackoverflow.com/questions/59695637/i-am-trying-to-merge-2-pretrained-keras-model-but-failed](url) or [https://stackoverflow.com/questions/40755914/prepending-downsample-layer-to-resnet50-pretrained-model](url))

I tried following as suggested in the answer on Stackoverflow.  If yo

[2020-08-14 01:22] vscv commented on #138
@rao208 Thanks for hit. I revised the statement of problem.

[2020-08-24 13:48] tinyxuyan opened #150 "Does the tool support other layers, such as dense layer or conv1d layers?"
All the examples in the project use conv2d layers and support 3-d image input. I am wondering whether the tf-explain tool supports other layers, such as dense layer, conv1d layer, and lstm layer. I am trying to explain the model with conv1d layer, but there are some errors when explainers are used. I am not sure whether it is the reason of my codes or the tf-explain tool itself. Some examples of t

[2020-08-26 13:56] asittiwari07 opened #151 "Getting Type Error"
https://github.com/sicara/tf-explain/blob/8dff129ff7b1012dba2761a61e3c3e68e9ecbec2/examples/core/grad_cam.py#L19

![image](https://user-images.githubusercontent.com/66376262/91312611-0fa76b00-e7d2-11ea-99bd-944ce261876c.png)

Any Idea what could be the issue?

[2020-08-31 04:01] vscv commented on #151
Try this:
`explainer = GradCAM() to explainer = GradCAM`

[2020-09-24 11:27] Hassanfarooq92 commented on #149
you need to do a little modification of the tf-explain code.
There are two ways:
1) remove tf.function from "def get_gradients_and_filters" in grad_cam.py
however if you want to retain tf.fucntion
2) move grad_model generation from "def get_gradients_and_filters" to "def explain" and pass it via function.

[2020-09-24 11:40] Hassanfarooq92 commented on #151
there's a discontinuity in your model.

[2020-09-24 16:04] #149 closed

[2020-09-25 22:18] rstml commented on #151
Got exactly the same issue. @Hassanfarooq92 not sure what you mean by discontinuity, but the model I'm using has multiple outputs.

[2020-09-25 23:23] rstml commented on #151
Tried to test with vanilla InceptionV3 and got a bit better message after restarting the notebook (see below).
I suspect something changed after upgrading to TF 2.3.x since I had this working with older versions of TF 2.x.

[code]

[2020-09-26 00:13] vscv commented on #151
@rstml [https://github.com/sicara/tf-explain/issues/149](url)

[2020-09-26 08:06] rstml commented on #151
Thanks @vscv , removing `tf.function` fixed it.

[2020-10-01 11:17] mubeenmeo344 opened #152 "Keras-vis: 'GradCAM' is not defined"
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-8-e0bb7eec1627> in <module>()
      9
     10 # Start explainer
---> 11 explainer = GradCAM()
     12 grid = explainer.explain(data, model, class_index=281)  # 281 is the tabby cat index in ImageNet
     13

NameError: name 'GradCAM'

[2020-10-19 07:15] TimbusCalin commented on #149
If I delete @tf.function and rerun the code, I get this error:

AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'min'

[2020-10-29 20:27] palatos opened #153 "GradCAM varying on multiple calls"
I'm running the GradCAM function on a pretrained model for a given image, and every time I generate the heatmap I get a different one. This happens whether or not I use the guided gradients option. The heatmaps are very different, too.

Is this expected?

[2020-10-30 06:39] harsha89 opened #154 "TF-Explain support for multi input model which take image and text as input for classification task"
Hi,

Thank you for the awesome work on the module.

I have a requirement of visualizing grad cam for multi input model which take image and text as input. This grad cam is specific to the image input of the multi modal tensorflow network architecure.

Since two models concatenate at the end, how should I select the last layer or how gradients can flow through concatenation layer? Any input is high

[2020-10-31 12:42] harsha89 commented on #154
I have found the solution. Hence closing the issue.

[2020-10-31 12:42] #154 closed

[2020-11-01 05:28] mubeenmeo344 commented on #152
I have solved this problem by importing class GRADCAM() from this file:
"https://github.com/sicara/tf-explain/blob/master/tf_explain/core/grad_cam.py"

[2020-11-01 05:28] #152 closed

[2020-11-15 15:57] dspyrhsu opened #156 "Requesting support for TF2.3.x"
When trying to run GradCAM with TF 2.3.0, I run into [this issue](https://github.com/tensorflow/tensorflow/issues/27120). The very same notebook using TF 2.2 works, but I have found TF2.2 to be more or less a desaster, especially concerning performance (e.g., loading the saved model takes minutes as opposed to a few seconds with TF2.3). So, if you plan on supporting TF 2.3, that would be highly ap

[2020-11-16 08:44] Yannik1337 commented on #150
When you instantiate your model, can you try passing (...name="Dense_5") to the appropriate layer? E.g. explicitly naming the layer as you want, and not relying on the automatic naming of TF.

[2020-11-20 14:52] palatos opened #157 "Normalization issue gives blank heatmaps"
I'm using tf-explain to generate Vanilla Gradients, and was getting blank heatmaps (0 for every pixel).
Thinking this was strange, I generated the gradients manually and got non-zero values.
So I started running the tf-explain source line by line until I found the culprit for the differences:

https://github.com/sicara/tf-explain/blob/8dff129ff7b1012dba2761a61e3c3e68e9ecbec2/tf_explain/utils/image

[2020-11-20 15:18] palatos commented on #156
Just out of curiosity, if you use this fork, does it solve the current error?
https://github.com/palatos/tf-explain

[2020-11-20 17:54] dspyrhsu commented on #156
So, after doing this:
[code]
The rror is gone! Thus, please write the pull request and thanks for your effort, @palatos !

[2020-11-20 18:53] palatos commented on #156
@dspyrhsu I'm glad it worked! I was having the same issue and tried out a suggestion I saw someone else post, on that fork.
I think there is a similar pull request currently under review, but I'm glad this workaround is working for you too.

[2020-12-05 14:37] movaldivia commented on #138
@rao208 @vscv did you find any solution?

[2020-12-07 05:41] vscv commented on #138
The problem has not been resolved.
My current alternative is to put preprocess and augmentation into tf.data.map instead of adding it to the base_model.

[2020-12-28 11:04] ShreyashSoni commented on #129
facing the same issue, any solution?

[2020-12-28 12:52] rao208 commented on #129
@ShreyashSoni Yes, the problem was I wasn't using the right activation function to get the probability score for both the classes. What I mean is, if you use a softmax activation function in the final layer (even if the dataset has two labels), you will get the probability score for both of them whereas if you use any other activation function then you will just get the probability for one class.

[2020-12-30 05:24] ShreyashSoni commented on #129
@rao208 thanks for the explanation. this helps

[2021-01-09 23:48] CosmicGans opened #159 "VanillaGradients computes gradients with regards to the likelihood, not the score"
Thanks for the very useful package!

According to the original paper, the Vanilla gradients should be computed  based on "the gradient of the class score with respect [to the input image."](https://arxiv.org/abs/1312.6034  )
However, the Vanilla Gradient[ example computes ](https://github.com/sicara/tf-explain/blob/master/examples/core/vanilla_gradients.py )the gradient with regards to the likelih

[2021-01-27 19:53] AlexKubiesa commented on #159
@RaphaelMeudec here are my thoughts on the issue.

Vanilla Gradients is intended for convolutional classifiers, which are likely to have `tf.keras.layers.Dense` as the last layer, with softmax activation. Unfortunately, the activation function is part of the `Dense` object, so there is no way to easily compute the layer without also applying the activation function.

Here are some potential soluti

[2021-01-28 23:42] arun-nemani opened #160 "possible support for 1D models?"
Excellent package, are there any plans for supporting TF models that use Conv1D layers instead?

[2021-01-29 09:36] RaphaelMeudec commented on #159
@AlexKubiesa I agree with you that it seems the most reasonable option. One thing that bothers me though is that it makes it nearly impossible to use the vanilla gradients callbacks (as you would train the model with your last activation). Maybe what we could do is a mix of 2 & 3? If the last layer is an activation layer, we pop it in the callback computation, else we raise a warning/log to indica

[2021-01-29 18:22] AlexKubiesa commented on #159
I think logging a warning makes sense.

I don't see how Option 2 makes the callback difficult. We can make a new model and apply that to the input instead of the original. If the last layer is an activation layer, we can do:
[code]
Then take the gradient of the score with respect to the inputs.

[2021-01-30 18:43] AlexKubiesa commented on #159
I don't think we can perform a comprehensive check of the model architecture in all cases.

If the network is entirely sequential and has only one set of inputs and outputs, then `layers` is just the full list of layers in order, and we can check that `layers[-2]` is a Dense layer (or similar) and `layers[-1]` is a Softmax layer (or similar).

I assume we're not supporting models with multiple inp

[2021-02-02 18:24] RaphaelMeudec commented on #156
@dspyrhsu @palatos the problem is fixed on master, thanks for raising it! It will be shipped in a release next week after we merge #161

[2021-02-02 18:24] #156 closed

[2021-02-02 18:25] RaphaelMeudec commented on #146
Closing this issue as it is more related to the method than the library.

[2021-02-02 18:25] #146 closed

[2021-02-02 18:25] RaphaelMeudec commented on #142
I think the problem has been fixed on master already and shipped in the last release. Closing this issue, thanks for opening it!

[2021-02-02 18:25] #142 closed

[2021-02-02 18:33] RaphaelMeudec commented on #160
@arun-nemani could you provide any toy example so we can see how we can help?

[2021-02-03 14:29] RaphaelMeudec commented on #159
Closing this issue as the fix has been merged on master

[2021-02-03 14:29] #159 closed

[2021-02-03 20:57] arun-nemani commented on #160
@RaphaelMeudec This [resource](https://machinelearningmastery.com/cnn-models-for-human-activity-recognition-time-series-classification/) is a great toy example. The usecase would be to identify zones in time series signals for highly important / discriminatory features towards a class or prediction

[2021-02-23 16:26] arun-nemani commented on #160
@RaphaelMeudec Hello, I wanted to followup on this issue!

[2021-02-23 16:52] gsteinbu commented on #157
I encounter the same problem (blank heatmaps) when using SmoothGrad. With the fix proposed by @palatos I get nonempty heatmaps (which also make some sense in my application, I think). It also seems that [others](https://stackoverflow.com/questions/63107141/how-to-compute-saliency-map-using-keras-backend) do suggest to implement the Vanilla Gradients using a normalization of the gradient heatmap to

[2021-02-23 17:05] RaphaelMeudec commented on #157
Sorry for not answering @palatos. Indeed, I've encountered the problem recently and a PR is more than welcome! The impact is larger than vanilla gradients as this transformation is used on all outputs which have only one channel.

[2021-03-21 09:41] mohamedabdallah1996 opened #165 "Value Error: Graph disconnected"
I face this error after putting `GradCAMCallback` in the fit function. I don't understand why this happens because it raises this error after training one epoch. if the graph is disconnected I think the model will be broken and it won't be able to finish even one epoch.

this is my code:

[code]
![image](https://user-images.githubusercontent.com/17436986/111900290-5690d280-8a3a-11eb-931e-d967fe9b8

[2021-03-31 14:55] Praveen94 opened #166 "Images are not padded"
I was working on the Severstal Steel Defect Detection competition.When seeing the visualizations in Tensorboard using the GradCAMCallback I was not able to easily distinguish each of the images.This is due to the nature of the dataset.

<img width="449" alt="Screen Shot" src="https://user-images.githubusercontent.com/20457987/113163861-304f0c00-925e-11eb-8d43-ec4b71fdfbb1.png">

I was able to easi

[2021-04-16 16:25] craymichael commented on #102
I ran into this issue which is fixed merely by ensuring that the input data to the grad_model is watched by GradientTape.

Quick fix while the PR is merged, see one-liner in: https://github.com/sicara/tf-explain/pull/167/files

[2021-04-17 08:27] Zjf-lab opened #168 "add threshold in GRAD-CAM"
![image](https://user-images.githubusercontent.com/70676318/115106685-d017d400-9f98-11eb-98b6-bbd244c6bea5.png)
if the blue region is restored to the original image by threshold  could be better

[2021-04-17 08:29] Zjf-lab commented on #168
cv2.addWeighted can‘t solve this problem. because it's mapped from the heatmap

[2021-04-17 12:42] Agrover112 commented on #160
I could give another good example. In my repo here I use Flattened versions of MNIST , where it fails .
https://github.com/M-68/ActivationFunctions

[2021-04-19 12:18] #102 closed

[2021-05-02 04:23] farhantandia opened #169 "5D input for video data"
how to implement it if i have 3d model with input shape(batch_size,sequence_length,height,width,channel) ? is it possible to run on video data? thank you.

[2021-05-02 06:16] #169 closed

[2021-05-17 08:52] andreafortini commented on #165
I faced the same problem when I trying to build a model with transfer learning as your case and I trying to access the layers inside the inner model. The inner model is signed as "Functional" if you check `model.summary()`.

Try to don't leave default value `layer_name=None` into constructor of GradCAMCallback and put the last convolutional layer of your model: "conv5_3"

[2021-06-29 14:47] danvargg commented on #145
+1

[2021-07-07 13:49] lilianmarey opened #171 "saved files are .v2 files"
Hi !

I was trying to use tf-explain on my pretrained neural nets, it seems it worked, however, after running my code, the saved files are ".v2" files. I really don't know how to open this type of files, or how to convert it into .png for example.

I wanted to know if getting this type of files was normal, and if it is, how to open it.

Thanks anyway for sharing the library

[2021-07-07 13:53] RaphaelMeudec commented on #171
Those are probably tensorboard files. Can you provide which methods/callbacks you're using?

[2021-07-07 13:57] lilianmarey commented on #171
I'm using OcclusionSensitivityCallback and IntegratedGradientsCallback, I had .v2 files for both.
Here is also the architecture of my net and the code I ran
![Capture d’écran 2021-07-07 à 15 56 47](https://user-images.githubusercontent.com/68290011/124772054-f320a700-df3b-11eb-8321-52ba0c63ecf5.png)
![Capture d’écran 2021-07-07 à 15 56 40](https://user-images.githubusercontent.com/68290011/1247720

[2021-07-07 14:00] RaphaelMeudec commented on #171
All callbacks are made to draw images directly into tensorboard. You have to open a tensorboard with `tensorboard --logdir path_to_logs` and go to the images tab

[2021-07-07 14:09] lilianmarey commented on #171
Ok, it worked, thanks a lot !

[2021-07-07 14:09] #171 closed

[2021-07-26 09:31] lastproxy opened #172 "Does tf-explain support applying multiple input mode on pretrained tensorflow keras model"
Generally, my input data is a list of array with different shape (same first axis, sample numbers),  it seems that `tf-explain` does not work properly on my pretrained tensorflow keras model. The error msg looks like below:
[code]

[2021-08-12 08:30] ramshi236 commented on #55
is there an update on the problem ?

[2021-09-09 04:19] rupjit-bo opened #173 "Explain tree data"
Awesome work on the library. I have discovered it recently and it seems to have a lot of good features.
I wanted to try it out for tree structured data (Abstract Syntax Trees). I have trained a network called [TBCNN](https://github.com/crestonbunch/tbcnn). I want to check which nodes in the tree are causing the prediction to be 1 or 0.

My data is stored as a list of dictionaries, where each (nest

[2021-09-13 07:36] Ram-WD commented on #145
+1

[2021-09-13 08:23] Ram-WD commented on #130
I have the same problem as @Meywether  , with a custom keras model with multi output ( segmentation and classification).

[2021-09-25 13:34] showkeyjar commented on #145
+1

[2021-09-26 09:52] showkeyjar opened #174 "can tf-expain explain tf-lite models?"
can tf-expain explain tf-lite models?

if can, how to explain?

if not, would you have some advice or suggestion?

[2021-09-30 07:53] showkeyjar commented on #174
I fig it out,
would you please check this idea is right?

I rewrite a OcclusionSensitivity class and use python read tf.lite model then predict

the key codes:

`
    def get_sensitivity_map(self, interpreter, image, class_index, patch_size):
        # interpreter is tf.lite model
        ...
        interpreter.allocate_tensors()
        for patch in tqdm(patches):
            interpreter.set_ten

[2021-11-08 10:20] RaphaelMeudec commented on #166
Thanks for raising this, I'll look into it

[2021-11-15 11:56] bobr96 opened #176 "GradCAM opposite visualization"
Hi,
I implemented a custom CNN for binary classification with following structure. The goal is to check if a specific object is present (class 1) or not present (class 0) in the image. The trained CNN does have very good results on validation and test dataset. It is not overfitted.

- conv2d (Conv2D) (None, 100, 100, 16)
- max_pooling2d (MaxPooling2D) (None, 50, 50, 16)
- conv2d_1 (Conv2D) (None,

[2021-11-15 13:58] RaphaelMeudec commented on #176
Could you add the figures to the issue?

[2021-11-15 14:17] bobr96 commented on #176
![summary](https://user-images.githubusercontent.com/94367471/141796652-d50dc8ed-e258-4b52-8ed1-19796f332d5a.png)

These are the visualizations created by GradCAM. Actually, I expect the two images on the right side to be swapped. So class_idx=0 should be the big red heatmap and class_idx=1 only the object in the middle.

What am I doing wrong? Thank you very much for your help.

[2021-11-15 14:30] RaphaelMeudec commented on #176
The last one is indeed very odd. What is the scale of the figure? (min and max values)

Regarding the fact that your network is always looking at the center: this is probably normal. You're passing an image with the object in it, hence the interpretation just says: I gave a low value for class_index=0 because I've seen this region in the middle. The background is not very informative, hence most o

[2021-11-15 14:38] bobr96 commented on #176
I have trained the network with 100x100 images with values in the interval [0,1].

Yes, it is normal that the objects are always in the center. But that's why I don't understand this visualization. Here, for the predicted class (1), the center is ignored. It is the image on the lower right side. Here, only the edge area except the center is examined (=red area). Or maybe I interpret it wrong?

[2021-11-15 20:48] RaphaelMeudec opened #177 "Separate attribution maps generation from visualizations"
For v1.0.0, we should separate the computation of the attribution maps (i.e generate something with shape `(N, H, W, 1)`) from the visualization which is usually a grid.

[2021-11-15 20:49] RaphaelMeudec commented on #168
I'm not sure what you mean. Do you mean that the activation map overlay should be thresholded?

[2021-11-15 21:04] RaphaelMeudec commented on #153
Let's make sure in v1.0.0 that the parameter `training=True` is passed to the model.predict in tf-explain methods

[2021-11-15 21:08] #76 closed

[2021-11-16 01:35] Zjf-lab commented on #168
I think the blue area could restore original image pixel value, only show the circled part of heatmap, but i didn't find a way to do that
![image](https://user-images.githubusercontent.com/70676318/141879518-4baf5e03-8fd7-4a1d-9d5b-7fed160def70.png)

![image](https://user-images.githubusercontent.com/70676318/141879156-24e5dc5b-4ebc-401a-9ecb-13b9ffb34fdd.png)

[2021-11-16 08:55] bobr96 commented on #176
I reproduced this behavior with a different implementation. For this I used the source code from the official documentation of Keras ([Link](https://keras.io/examples/vision/grad_cam)). So it is obviously not a problem with your implementation. However, I still don't understand the interpretation. Can you help me to understand it?

![summary1](https://user-images.githubusercontent.com/94367471/141

[2021-11-16 08:59] RaphaelMeudec commented on #176
This is weird, could you generate the output at each conv layer? So we can compare the heatmap with the generated output from each convolution/maxpool?

[2021-11-16 09:16] bobr96 commented on #176
Yes, of course. I have created binaries (.npy) for each layer. I hope this helps with troubleshooting.
[layers.zip](https://github.com/sicara/tf-explain/files/7544940/layers.zip)

[2021-11-16 09:50] bobr96 commented on #176
Those are the activations

![activations](https://user-images.githubusercontent.com/94367471/141962371-9e2c4938-62a3-4594-aaeb-769c1c9aadd8.png)

[2021-12-19 14:18] #176 closed

[2022-01-22 02:31] #150 closed

[2022-02-26 15:58] siriusmehta opened #180 "Example or any Support for Tensorflow_datasets"
Hi,

I would highly appreciate any sample code for how can we use tf Explain GradCam feature for tensorflow dataset.

Best Regard
Vishal

[2022-03-21 10:45] RaphaelMeudec commented on #180
Right now, there is no support yet for tensorflow datasets. The solution is to extract some elements from your tensorflow datasets, call `.numpy()` on them, and pass them to tf-explain

[2022-03-28 09:53] khaledbouabdallah opened #182 "Unsupported model architecture for VanillaGradients"
I'm trying to use VanillaGradients for a single image, but I'm getting this warning

**VanillaGradients call :**

[code]

**Model Declaration**

[code]

**Notes**

-  GRAND CAM and occlusion are working as expected but all gradient-based methods results in the same warning
- I'm working on binary classification

[2022-04-28 18:18] Corne173 commented on #145
I've found some success in implementing a regression model for a univariate time series model. The grad-cam model showed that a certain region was important. I shortened the input sequence to exclude that region and found that my model's performance got significantly worse.

Yes this did require retraining of the model and you can argue that it changes the model and thus you can't make comparisons

[2022-05-02 13:06] E0HYL commented on #182
I met the same problem when running with a model where the last layer is `Dense` with an activation function.
I checked the paper of [Vinilla Gradients](https://arxiv.org/pdf/1312.6034.pdf). In Section 2, the authors pointed that

Guess this is the reason why the warning is raised.